<template>
  <div class="hello">
    <h1>SkillDB</h1>
    <h5><i>Eine Datenbank auf Basis von GitHub-Projekten und den dort verwendeten Programmiersprachen</i></h5>
    <p>
      Du hast folgende Möglichkeiten:
    </p>
    <p>Übersicht aller Mitarbeitern und Programmiersprachen: <a href="/#/mitarbeiter">/mitarbeiter</a></p>
    <p>Suche nach Mitarbeitern und Programmiersprachen: <a href="/#/suche">/suche</a></p>
  </div>
</template>

<script>
  export default {
    name: 'hello',
    data () {
      return {
        msg: ''
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
