<template>
  <div class="bootstrap">
    <h1>Mitarbeiter @GitHub</h1>
    <h5><i>Übersicht aller Mitarbeiter und wieviele Projekte sie in welcher Programmiersprache implementiert haben</i></h5>
    <p></p>

    <b-list-group>
      <b-list-group-item v-for="user in users" :key="user.name" class="flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">- {{user.name}}</h5>
        </div>
        <p class="mb-1" v-for="(count, language) in user.languages" align="left">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{language}} {{count}}
        </p>
      </b-list-group-item>
    </b-list-group>

  </div>
</template>

<script>
  // import axios from 'axios'
  import {AXIOS} from './http-common'

  export default {
    name: 'mitarbeiter',

    data () {
      return {
        users: [],
        errors: []
      }
    },
    created: function() {	//#C
      AXIOS.get(`/users`)
        .then(response => {
          this.users = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  p {
    margin-bottom: 20px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
