<template>
  <div id="app">
    <h1>Freitextsuche</h1>
    <h5><i>… nach Mitarbeitern und Programmiersprachen</i></h5>
    <p></p>
    <div class="container col-md-4">
      <vue-autosuggest
        :suggestions="suggestions"
        :inputProps="inputProps"
        :sectionConfigs="sectionConfigs"
        :renderSuggestion="renderSuggestion"
        :getSuggestionValue="getSuggestionValue"
      />
      <div v-if="selected" style="margin-top: 10px;">
        <div v-if="isUser">
          <b-card no-body v-bind:header="selected.name" class="text-center">
            <b-list-group>
              <b-list-group-item v-for="(count, name) in selected.languages" :key="name" class="d-flex justify-content-between align-items-center">
                {{ name }}
                <b-badge variant="primary" pill>{{ count }}</b-badge>
              </b-list-group-item>
            </b-list-group>
          </b-card>
        </div>
        <div v-else-if="isLanguage">
          <b-card no-body v-bind:header="selected.name" class="text-center">
            <b-list-group>
              <b-list-group-item v-for="(count, name) in selected.users" :key="name" class="d-flex justify-content-between align-items-center">
                {{ name }}
                <b-badge variant="primary" pill>{{ count }}</b-badge>
              </b-list-group-item>
            </b-list-group>
          </b-card>
        </div>
        <div v-else>Unknown</div>
      </div>
    </div>
  </div>
</template>

<script>
  import {VueAutosuggest} from 'vue-autosuggest';
  import {AXIOS} from './http-common'

  export default {
    name: 'app',
    components: {
      VueAutosuggest
    },
    data(){
      return {
        results: [],
        timeout: null,
        selected: null,
        isUser: false,
        isLanguage: false,
        debounceMilliseconds: 50,
        usersUrl: '/users',
        languagesUrl: '/languages',
        inputProps: {
          id:'autosuggest__input',
          onInputChange: this.fetchResults,
          placeholder:'Wonach möchtest Du suchen?',
          class:'form-control'
        },
        suggestions: [],
        sectionConfigs: {
          "users": {
            limit: 6,
            label: "Users",
            onSelected: (selected) => {
              this.selected = selected.item;
              this.isUser = true;
            }
          },
          "languages":{
            limit: 6,
            label: "Languages",
            onSelected: (selected) => {
              this.selected = selected.item;
              this.isLanguage = true;
            }
          }
        }
      }
    },
    methods: {
      fetchResults(val) {
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          const usersPromise = AXIOS.get(this.usersUrl);
          const languagesPromise = AXIOS.get(this.languagesUrl);

          Promise.all([usersPromise, languagesPromise]).then(values => {
            this.suggestions = [];
            this.selected = null;
            this.isUser = false;
            this.isLanguage = false;

            const users = this.filterResults(values[0].data, val, 'name');
            const languages = this.filterResults(values[1].data, val, 'name');

            users.length && this.suggestions.push({name: 'users', data:users});
            languages.length && this.suggestions.push({name: 'languages', data:languages});
          });

        }, this.debounceMilliseconds);
      },
      filterResults(data, text, field){
        return data.filter(item => {
          if(item[field].toLowerCase().indexOf(text.toLowerCase()) > -1){
            return item[field];
          }
        }).sort();
      },
      renderSuggestion(suggestion){
        return suggestion.item.name;
      },
      getSuggestionValue(suggestion){
        let {name, item} = suggestion;
        return name == 'languages' ? item.name : item.name;
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  .avatar{
    height:25px;
    width: 25px;
    border-radius: 20px;
    margin-right: 10px;
  }
  #autosuggest__input {
    outline: none;
    position: relative;
    display: block;
    border: 1px solid #616161;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  #autosuggest__input.autosuggest__input-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .autosuggest__results-container {
    position: relative;
    width: 100%;
  }

  .autosuggest__results {
    font-weight: 300;
    margin: 0;
    position: absolute;
    z-index: 10000001;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: white;
    padding: 0px;
    max-height: 400px;
    overflow-y:scroll;
  }

  .autosuggest__results ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .autosuggest__results .autosuggest__results_item {
    cursor: pointer;
    padding: 15px;
  }

  #autosuggest ul:nth-child(1) > .autosuggest__results_title {
    border-top: none;
  }

  .autosuggest__results .autosuggest__results_title {
    color: gray;
    font-size: 11px;
    margin-left: 0;
    padding: 15px 13px 5px;
    border-top: 1px solid lightgray;
  }

  .autosuggest__results .autosuggest__results_item:active,
  .autosuggest__results .autosuggest__results_item:hover,
  .autosuggest__results .autosuggest__results_item:focus,
  .autosuggest__results .autosuggest__results_item.autosuggest__results_item-highlighted {
    background-color: #F6F6F6;
  }

</style>
