<template>
  <div id="app">
    <div>
      <b-navbar toggleable="md" type="dark" variant="info" fixed="top">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#/">SkillDB</b-navbar-brand>
        <b-navbar-nav>
          <b-nav-item to="mitarbeiter">Mitarbeiter</b-nav-item>
          <b-nav-item to="suche">Suche</b-nav-item>
        </b-navbar-nav>
      </b-navbar>
    </div>

    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
